<div *ngIf="viewPedidos">
    <h3>Pedidos</h3>
    <div class="form-row">
      <button type="button" class="btn btn-primary" routerLink="/pedidoForm">Nuevo pedido</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Pedido</th>
          <th scope="col">Mesa</th>
          <th scope="col">Mozo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Cliente</th>
          <!-- <th scope="col">Foto</th> -->
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos; let i=index" [ngClass]="{
          'table-secondary':pedido.estadoPedidoID === 1,
          'table-warning':pedido.estadoPedidoID === 2,
          'table-success':pedido.estadoPedidoID === 3,
          'table-danger':pedido.estadoPedidoID === 5
        }">
          <td>{{pedido.codigoPedido}}</td>
          <td>{{pedido.codigoMesa}}</td>
          <td>{{pedido.nombreMozo}} {{pedido.apellido}}</td>
          <td>{{pedido.fechaCreacion  | date:"MM/dd/yy hh:mm:ss"}}</td>
          <td>{{pedido.nombreCliente}}</td>
          <!-- <td>{{pedido.foto}}</td> -->
          <td>{{pedido.estado | titlecase}}</td>
          <td>
            <div class="dropdown">
              <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button *ngIf="pedido.estadoPedidoID == 3" class="dropdown-item" type="button" (click)="entregaPedido(pedido)">Entregar</button>
                <button class="dropdown-item" type="button" (click)="verPedido(pedido)">Ver pedido</button>
                <button class="dropdown-item" type="button" (click)="cancelarPedido(pedido)">Cancelar</button>
              </div>
            </div>
            <!-- <button *ngIf="pedido.estadoPedidoID == 3" type="button" class="btn btn-primary btn-sm" (click)="entregaPedido(pedido)">Entregar</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="verPedido(pedido)">Ver pedido</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="cancelarPedido(pedido)">Cancelar</button> -->
          </td>
        </tr>
      </tbody>
    </table> 
</div>

<div *ngIf="viewDetallesPedidos">
  <h3>Detalles</h3>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Detalle</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Pedido</th>
          <th scope="col">Inicio</th>
          <th scope="col">Estimado</th>
          <th scope="col">Terminado</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detallePedido of detallesPedidos; let j=index" [ngClass]="{
          'table-secondary':detallePedido.estadoPedidoID === 1,
          'table-warning':detallePedido.estadoPedidoID === 2,
          'table-success':detallePedido.estadoPedidoID === 3,
          'table-danger':detallePedido.estadoPedidoID === 5
        }">
          <td>{{detallePedido.item}}</td>
          <td>{{detallePedido.cantidad}}</td>
          <td>{{detallePedido.codigo}}</td>
          <td>{{detallePedido.fechaInicio}}</td>
          <td>{{detallePedido.tiempoEstimado | isNullValue: "No especificado"}}</td>
          <td>{{detallePedido.fechaFin}}</td>
          <td>{{detallePedido.estado | titlecase}}</td>
          <td >
            <button *ngIf="detallePedido.estadoPedidoID == 1" type="button" class="btn btn-primary btn-sm" (click)="comenzarDetallePedido(detallePedido)">Comenzar</button>
            <button *ngIf="detallePedido.estadoPedidoID == 2" type="button" class="btn btn-primary btn-sm" (click)="finalizarDetallePedido(detallePedido)">Finalizar</button>
          </td>
        </tr>
      </tbody>
    </table> 
</div>