<form name="form" (ngSubmit)="f.form.valid && consultar()" #f="ngForm" novalidate>
  <h2>Consulte su pedido</h2>
  <div class="form-row">
    <div class="form-group col-md-2" [ngClass]="{ 'has-error': f.submitted && !mesa.valid }">
        <label for="mesa">Mesa</label>
        <input type="text" class="form-control" name="mesa" [(ngModel)]="consulta.mesa" #mesa="ngModel" required />
    </div>
    <div class="form-group col-md-2" [ngClass]="{ 'has-error': f.submitted && !pedido.valid }">
        <label for="pedido">Pedido</label>
        <input type="text" class="form-control" name="pedido" [(ngModel)]="consulta.pedido" #pedido="ngModel" required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <button type="submit" [disabled]="loading || !f.form.valid" class="btn btn-primary">Consultar</button>
    </div>
  </div>
</form>

<button class="btn btn-primary my-2 my-sm-0" routerLink="/login">Acceso a empleados</button>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>